<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tongji.mapper.hive.HMovieMapper">
    <resultMap id="movieResultMap" type="com.tongji.entity.Movie">
        <result column="movie_id" property="id"/>
        <result column="movie_name" property="name"/>
    </resultMap>
    <resultMap id="getMoviesByMultipleConditionMap" type="com.tongji.entity.HMovieRes">
        <result column="movie_id" property="asin"/>
        <result column="movie_name" property="title"/>
        <result column="genre_name" property="edition"/>
        <result column="grade" property="score"/>
        <result column="review_num" property="commentNum"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="day" property="day"/>
    </resultMap>
    <resultMap id="getMoviesByMultipleConditionOneTableMap" type="com.tongji.entity.HMovieRes">
        <result column="asin" property="asin"/>
        <result column="title" property="title"/>
        <result column="edition" property="edition"/>
        <result column="global_rate" property="score"/>
        <result column="rate_num" property="commentNum"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="day" property="day"/>
    </resultMap>


    <!-- select 后不能写*，需要写具体的字段名-->
    <select id="selectById" resultMap="movieResultMap">
        select movie_id, movie_name
        from t_movie
        where movie_id = #{id}
    </select>
    <!--
      有关时间的查询放在from子查询中
      mainActors为空
      directorNames，actor查询利用foreach放在where字句中
      category放在from字句中，使用left join
    -->
    <select id="getMoviesByMultipleCondition" resultMap="getMoviesByMultipleConditionMap">
        SELECT t_movie.movie_id, t_movie.movie_name, t_movie.grade, t_movie.review_num, year, month, day
        FROM t_movie
        <if test="category != null">
            JOIN t_movie_genre tmg ON t_movie.movie_id = tmg.movie_id
            JOIN t_genre tg ON tmg.genre_id = tg.genre_id AND tg.genre_name=#{category}
        </if>
        <if test="minYear != null">
            JOIN t_date ON t_date.date_id = t_movie.date_id
        </if>

        <if test="directorNames != null">
            JOIN t_movie_director tmd ON t_movie.movie_id = tmd.movie_id
            JOIN t_director ON tmd.director_id = t_director.director_id
        </if>
        <if test="actors != null">
            JOIN t_movie_actor tma ON t_movie.movie_id = tma.movie_id
            JOIN t_actor ta ON tma.actor_id = ta.actor_id
        </if>
        <where>
            <if test="movieName != null">
                t_movie.movie_name = #{movieName}
            </if>
            <if test="minScore != null">
                AND grade &gt; #{minScore}
            </if>
            <if test="maxScore != null">
                AND grade &lt; #{maxScore}
            </if>
            <if test="directorNames != null">
                AND t_director.director_name IN
                <foreach collection="directorNames" item="director" index="index"
                         open="(" separator="," close=")">
                    #{director}
                </foreach>
            </if>
            <if test="actors != null">
                AND t_actor.actor_name IN
                <foreach collection="actors" index="index" item="actor"
                         open="(" separator="," close=")">
                    #{actor}
                </foreach>
            </if>
            limit 50
        </where>
    </select>

    <select id="getWorkMostActorByDirector" resultType="com.tongji.dto.CooperateNum">
        select t_actor.actor_name as name, t2.num as num
        from (SELECT count(*) AS num, actor_id
              from t_movie_actor
                       join t_movie_director tmd on t_movie_actor.movie_id = tmd.movie_id
                       join t_director td
                            on (tmd.director_id = td.director_id AND td.director_name = #{directorName})
              group by actor_id
              order by num desc
              limit 10) t2,
             t_actor
        where t2.actor_id = t_actor.actor_id
    </select>

    <select id="getWorkMostActorByActor" resultType="com.tongji.dto.CooperateNum">
        select t2.num as num, t_actor.actor_name as name
        from (select count(*) as num, t2.actor_id as actor_id
              from t_movie_actor t1
                       join t_actor ta on t1.actor_id = ta.actor_id and ta.actor_name = #{actorName}
                       join t_movie_actor t2 on t1.movie_id = t2.movie_id
              group by t2.actor_id
              order by num desc
              limit 10) t2,
             t_actor
        where t_actor.actor_id = t2.actor_id
    </select>
    <select id="getWorkMostDirectorByActor" resultType="com.tongji.dto.CooperateNum">
        select t_director.director_name as name, t2.num as num
        from (SELECT count(*) AS num, director_id
              from t_movie_director tmd
                       join t_movie_actor tma on tma.movie_id = tmd.movie_id
                       join t_actor ta
                            on (tma.actor_id = ta.actor_id AND ta.actor_name = #{actorName})
              group by director_id
              order by num desc
              limit 10) t2,
             t_director
        where t2.director_id = t_director.director_id
    </select>

    <select id="getMoviesByMultipleConditionInOneTable" resultMap="getMoviesByMultipleConditionOneTableMap">
        select asin,title,edition,global_rate,rate_num,year,month,day
        from data_warehouse.t_orc_movie_all lateral view explode(genre) subview as edition
        <where>
            <if test="movieName != null">
                title = #{movieName}
            </if>
            <if test="category != null">
                and array_contains(genre,#{category})
            </if>
            <if test="directorNames != null">
                <foreach collection="directorNames" item="director" index="index">
                    and array_contains(director, #{director})
                </foreach>
            </if>
            <if test="actors != null">
                <foreach collection="actors" item="actor" index="index">
                    and array_contains(starring_actors, #{actor})
                </foreach>
            </if>
            <if test="minScore > 0">
                and global_rate > #{minScore}
            </if>
            <if test="maxScore != 5">
                and global_rate &lt; #{maxScore}
            </if>
            <if test="minYear != null">
                and t_orc_movie_all.year between minYear and maxYear
                and t_orc_movie_all.month between minMonth and maxMonth
                and t_orc_movie_all.day between minDay and maxDay
            </if>
        </where>
    </select>
</mapper>